<h3>New Players Guide</h3>
<p>
    <i>
        Hey there, Welcome to Fallen Sword! This page will help you to get started in the game. There are many different ways to play Fallen Sword; we'll help you navigate
        early on until you get more familiar with the game and have a clearer picture of how YOU enjoy this game.
    </i>
</p>

<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Hunting
        </mat-panel-title>
        <mat-panel-description>
          Basics of Leveling up and Earning Gold
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Hunting refers to killing creatures in the world map for exp and gold. This is the best way to level up in the game, and early on, you'll want to
        focus on doing just that. Creatures that are below your level will give you less experience and gold, so be sure to always attack creatures that
        are at least same level as you. Also, the amount of stamina you use when attacking creatures is equal to the rounds of combat during the fight.
        For example, let's say you attack a rat that has 2 health points. You hit it for 1 damage, rat hits you back for 1 damage, and then you hit it again
        for 1 damage and kill it. Because you had to hit the rat twice to kill it, that fight cost you 2 stamina. However, if you had done 2 damage on the first
        hit and killed the rat before it had a chance to hit you back, the fight would have only costed 1 stamina. Therefore, it is very important to always make sure
        you have enough stats to also 1 hit creatures at your level when hunting.
      </p>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Buffs
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Buffs or Skills are ways to boost certain aspects of gameplay, and there are buffs that will help you hunt more efficiently.
            To get the most out of your stamina, there are a few buffs you should always have on when hunting. You can ask members of your guild for buffs if they are
            online and have the stamina to buff. You can also purchase buffs from other players at buff market. Additionally, you can also compose potions that give you
            buffs. Normally, the maximum points players can allocate on buffs are 150 points starting at level 500. Guild structures allow buffs to be boosted by additional
            25 levels to 175. There is also a potion that temporarily boosts the level of buffs even more, but normal buffs are considered to be at level 175. Listed below
            are some essential buffs you'll want when hunting
          </p>
          <ul class="no-style-list">
              <li>
                <img src="assets/buffs/adept-learner.png" alt="Adept Learner">
                <span class="super-align">Adept Learner</span>
                <p>This buff will give you additional +0.2% per point increase in XP from Creature kills. At level 175, this will give you 35% more exp per kill.
                </p>
              </li>
              <li>
                <img src="assets/buffs/librarian.png" alt="Librarian">
                <span class="super-align">Librarian</span>
                <p>This buff will give you +0.1% per point chance to get double exp from a kill. At level 175, this will give you 17.5% chance to get double exp.</p>
              </li>
              <li>
                <img src="assets/buffs/treasure-hunter.png" alt="Treasure Hunter">
                <span class="super-align">Treasure Hunter</span>
                <p>This buff will give you additional +0.2% per point increase in gold from Creature kills. At level 175, this will give you 35% more gold per kill.</p>
              </li>
              <li>
                <img src="assets/buffs/merchant.png" alt="Merchant">
                <span class="super-align">Merchant</span>
                <p>This buff will give you +0.05% per point chance to get double gold from a kill. At level 175, this will give you 8.75% chance to get double gold.</p>
              </li>
              <li>
                <img src="assets/buffs/conserve.png" alt="Conserve">
                <span class="super-align">Conserve</span>
                <p>This buff will give you +0.05% per point chance to not use any stamina in a fight. At level 175, this will give you 8.75% chance to use no stamina in a kill.</p>
              </li>
              <li>
                <img src="assets/buffs/animal-magnetism.png" alt="Animal Magentism">
                <span class="super-align">Animal Magnetism</span>
                <p>This buff will give you +0.2% per point chance to respawn a creature at the same location after killing it. 
                    At level 175, this will give you 35%% chance to respawn the killed creature. This helps you save stamina as you'll
                    be moving around less trying to find creatures to kill
                </p>
              </li>
              <li>
                <img src="assets/buffs/doubler.png" alt="Doubler">
                <span class="super-align">Doubler</span>
                <p>This buff will increase your stamina usage for increased exp and gold from creatures. At level 50, doubler will double your stamina usage for twice as much
                    exp and gold. At level 100, stamina consumption and exp / gold gain are tripled. At level 150, it's 4 times as much. Every 50 levels, the factor increases by
                    1. This is helpful when you have large amount of stamina to use and want to finish hunting quickly. However if you're also looking for item drops from creatures, then
                    it's recommended you do not use this buff.
                </p>
              </li>
              <li>
                <img src="assets/buffs/unbreakable.png" alt="Unbreakable">
                <span class="super-align">Unbreakable</span>
                <p>This buff will reduce the chances of your items taking durability damage by 0.5% per point during combat. At level 175, you will have 87.5% chance that your equipments
                    will take no durability damage. When hunting, your items will lose durability, which causes the items to give you less stats. Items can be reparied for gold at the blacksmith,
                    with exception to Crystalline rarity items, which cannot be repaired. Having unbreakable on will mean your items will take less durability damage and save you more gold
                    during hunts.
                </p>
              </li>
          </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Rules of Combat
          </mat-panel-title>
        </mat-expansion-panel-header>
         <p>
            The main stat that truly matters in this game when hunting is damage. When allocating level up points, you should put all of your points into damage. When attacking creatures
            you'll want to make sure your damage is higher than the creature's armor + hp combined. This will ensure that you can kill the creature in 1 hit. Attack determines whether you
            will hit or miss the creature. You also want to make sure that your attack is higher than the creature's defense stat so that you will not miss. There are certain enchantments
            in the game that can cause you to miss regardless of your attack on some rare occasions. Therefore, you will also need to make sure that
            either your defense is higher than the creatures attack or your armor is higher than the creatures damage so that if you do miss, the creature will not be able to kill you.
            In early levels, this will be fairly easy to do if you are set up with legendary, super elite, or epic items. However as you start getting higher levels (around 150), you will
            need to start relying on stat boosting buffs to consistently 1 hit creatures. Listed below are some stat boosting buffs that will help if you find you need little more damage
            during hunts. You do not need to buff yourself with all of them - just enough to reliably 1-hit kill creatures in your hunt.
          </p>
          <ul class="no-style-list">
            <li>
                <img src="assets/buffs/death-dealer.png" alt="Death Dealer">
                <span class="super-align">Death Dealer</span>
                <p>This buff will increase your damage based on your current kill streak, to a maximum of 20% extra damage. This damage boost will only apply when attacking creatures
                    and will not apply when attacking other players. This is a great buff to easily get a small boost to your damage as you should generally have enough kill streak
                    to get the max 20% damage boost.
                </p>
            </li>
            <li>
              <img src="assets/buffs/epic-forge.png" alt="Epic Forge">
              <span class="super-align">Epic Forge</span>
              <p>This buff will increase the stat bonuses provided through Hell Forge. Most items in our guild is max hell forged, so this buff will give you a good boost
                  to your stat regardless of whether you're hunting with full epics or item sets.
              </p>
            </li>
            <li>
              <img src="assets/buffs/epic-craft.png" alt="Epic Craft">
              <span class="super-align">Epic Craft</span>
              <p>This buff will increase stat bonuses provided on an item's craft. Again, most items in our guild are either excellent or perfect craft, so this will also
                  reliably boost your stat.
              </p>
            </li>
            <li>
              <img src="assets/buffs/smashing-hammer.png" alt="Smashing Hammer">
              <span class="super-align">Smashing Hammer</span>
              <p>This buff will increase your damage based on the number of sets you have equipped. The more complete sets you have on, the greater the damage boost. Epics are not
                  considered set items, so this buff will not boost your damage if you have full epics equipped
              </p>
            </li>
            <li>
              <img src="assets/buffs/keen-edge.png" alt="Keen Edge">
              <span class="super-align">Keen Edge</span>
              <p>This buff will give you additional attack based on the number of sets you have equipped. If you find that you do not have enough attack to hit creatures, this is
                  the main buff to go for. You will need to be in item sets and not epics for this buff to have effect.
              </p>
            </li>
        </ul>
        <p>
            There are most definitely various other buffs you will eventually need to rely on as you level, but by the time you start needing them, you'll be familiar enough with the game
            to not need a guide on it.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            What to do with Gold
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            At the end of your hunt, you will likely have made some gold from killing creatures. The gold you gain from creatures starts very small at low levels and slowly increases
            until you hit around level 300. Players start with 1 maximum bank deposit a day, and can deposit a maximum of
            25% of the gold they're holding each bank deposit. So do depost that much into the bank. The rest you should look to put into gold upgrades in character upgrade page.
            You should first try to get the maximum stamina upgrade - you can get an upgrade of 10 maximum stamina for a total of 250,000 gold each day. 
            Then focus on the gold upgrade for inventory slots (1,500,000 gold per slot) whenever you have enough gold to do so. You can only purchase the
            inventory upgrade with gold a maximum of 5 times for your character. After that, focus on the upgrade to bank deposits. Component inventory upgrades are generally lowest on
            priority for gold upgrades. If you've gotten all the needed gold upgrades, and have over 250,000 gold left over after bank deposits, you can purchase fallensword points at
            the fsp market, normally at around 250,000 gold per fsp.
          </p>
      </mat-expansion-panel>

    </mat-expansion-panel>
  </mat-accordion>
