<h3>Greater Guardians July Leveling Contest</h3>

<h4>Prizes are as follows: </h4>
  <ul>
    <li><b>Fishboy95 (219 levels)</b> - 150 FSP and 1  2020 Christmas Box</li>
    <li><b>Marvonen (165 levels)</b> - 90 fsp and 1 2020 Christmas Box</li>
    <li><b>BluePaint (129 levels)</b> - 60 fsp</li>
    <li><b>alaskaman (114 levels)</b> - Kiss of consolation from Fish :)</li>
    <li><b>CroMaxim (83 levels)</b></li>
    <li><b>billybob (60 levels)</b></li>
    <li><b>joeeoj (54 levels)</b></li>
    <li><b>altiesback (31 levels)</b></li>
    <li><b>Devilswolf (1 level)</b></li>
  </ul>
<h4>Starting Levels of GG members July 2022</h4>
<img src="assets/img/gg-level-contest-2022.PNG">

<h4>Ending Levels of GG members July 2022</h4>
<img src="assets/img/gg-level-contest-end-2022.PNG">