<div class="side-nav-container">
    <a [routerLink]="['/home']" class="button">Home</a>
    <a [routerLink]="['/leaders']" class="button">Leaders</a>
    <a [routerLink]="['/allies']" class="button">Allies</a>
    <a [routerLink]="['/rankings']" class="button">Ranks</a>
    <a [routerLink]="['/guide']" class="button">New Players</a>
    <a [routerLink]="['/fish']" class="button">Go Fish</a>
    <a [routerLink]="['/snake']" class="button">Snake Game</a>
    <a [routerLink]="['/imposter-blue']" class="button">Imposter??</a>
    <!-- <a href="/join" class="button">Join</a> -->
</div>

