<div class="center title">
    <h1>Let's Play Go Fish!</h1>
    <div *ngIf="isPlayGame">
        <div class="center">
            <h1>Go Fish!</h1>
            <div class="center search">
              <div class="tracker">
                <h5>Fishing For:</h5>
                <h2 id="searchValue"></h2>
              </div>
              <div class="tracker">
                <h5>Fishing From:</h5>
                <h2 id="searchPlayer"></h2>
              </div>
              <div class="tracker">
                <h5>Sets:</h5>
                <h2 id="humanSets">0</h2>
              </div>
              <div class="tracker">
                <h5>Cards Remaining:</h5>
                <h2 id="deckSize">0</h2>
              </div>
            </div>
            <h4 id="playerInfo">Here is where you will see a breakdown of your last turn</h4>
            <button id="startButton" (click)="onStartClicked()" *ngIf="!gameActive" type="button">Start Game</button>
            <button id="continue" (click)="onContinueClicked()" type="button">Take Turn</button>
          </div>
        
          <div class="center">
            <h2>Your Opponents</h2>
            <div class="" id="opponentContainer">
              <!-- <div class="opponent" number="">
                <button class="" type="button">Opponent 1</button>
                <h3 class="opponentSets">Sets</h3>
                <h5 class="actionExplain">==========</h5>
              </div> -->
            </div>
          </div>
        
          <div class="center">
            <h2>Your Cards</h2>
            <div class="center" id="cardContainer">
              <img class="card" src="assets/cardsjpg/AS.jpg" alt="A card">
              <img class="card" src="assets/cardsjpg/AH.jpg" alt="A card">
              <img class="card" src="assets/cardsjpg/AC.jpg" alt="A card">
              <img class="card" src="assets/cardsjpg/AD.jpg" alt="A card">
              <img class="card" src="assets/cardsjpg/AS.jpg" alt="A card">
              <img class="card" src="assets/cardsjpg/AH.jpg" alt="A card">
              <img class="card" src="assets/cardsjpg/AC.jpg" alt="A card">
              <img class="card" src="assets/cardsjpg/AD.jpg" alt="A card">
            </div>
          </div>     
    </div>
    <div *ngIf="isSeeInstructions">
        <div class="center">
            <p> The aim of the game is to collect the most 'tricks' or 'sets'.</p>
            <p>To begin, press 'Start Game' and enter the number of players (including yoruself) that you want to play.</p>
            <br>
            <ul>
              <li>Each player starts with 7 cards (2/3 players) or 5 cards (4 or more players).</li>
              <li>Play runs clockwise, starting with the player to the dealer's left.</li>
              <li>During their turn, each player 'goes fishing' by selecting a value of a card in their hand and another player, in the game this is done by clicking a card and an opponent, then clicking 'Take Turn'. If the selected player has any cards of that value the 'fisher' has made a 'catch'. The selected player must give the 'fisher' all their cards of that value. If the selected player has no cards of that value, the selector has not made a 'catch' and must 'Go Fish!' and draws a new card from the deck.</li>
              <li>If, during their turn, a player ends up with all 4 cards then they have collected a full set. The player then must immediately declare this and play their set face up, in front of them.</li>
              <li>If during play a player ends up with no cards in their hand they must draw a card from the deck, rather than 'going fishing' for cards from other people.</li>
              <li>The winner is the player with the most sets at the end.</li>
              <li>Once all 13 sets have been completed, play ends.</li>
            </ul>
          </div>
    </div>
    <button mat-button (click)="playGameClicked()" *ngIf="!isPlayGame">Play Game</button>
    <button mat-button (click)="seeInstructionsClicked()" *ngIf="!isSeeInstructions && !isPlayGame">See Instructions</button>
</div>