<h3>Guild Allies</h3>

<div class="card-block">
    <img src="assets/img/ally-lom.png">
    <div>
        <h5><a href="https://www.fallensword.com/index.php?cmd=guild&subcmd=view&guild_id=48776" target="_blank">Land of
                Myth</a></h5>
        <p><i>
                Land of Myth is a sanctuary for all Mythical creatures. Fairy, Elf, Wolf, Unicorn, Vampire, Human, &
                more!
            </i></p>
    </div>

</div>

<div class="card-block">
    <img src="assets/img/ally-som.png">
    <div>
        <h5><a href="https://www.fallensword.com/index.php?cmd=guild&subcmd=view&guild_id=48119" target="_blank">Scions
                of
                Might</a></h5>
        <p>
            <i>
                To be part of SoM is to be part of a family of many colours, nations and faiths, but what truly unites
                us is
                our will to persist and defy the odds. Let it be known that our friends and allies are cherished, our
                foes,
                obliterated.
            </i>
        </p>
    </div>
</div>