.main {
    display: grid;
    grid-template-columns: 20% 70%;
    height: 100%;
}

.side-nav {
    margin-left: 50px;
    padding-top: 20px;
    border-right: 2px solid #826019;
    margin-right: 40px;
}

.responsive {
    width: 80%;
    height: auto;
}
