/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #e0c894;}


.card-block {
    border: 2px solid #826019;
    border-radius: 20px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
    display: grid;
    grid-template-columns: 30% 60%;
    min-height: 160px;
}

a {
    cursor: pointer;
}

a:hover {
    opacity: 0.5;
}

img {
    width: 80%;
    height: auto;
}

.mat-stepper-vertical {
    background-color: #e0c894;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #826019;
}

.mat-step-text-label {
    font-weight: 600;
    font-size: large;
}

.mat-vertical-stepper-header {
    padding: 20px !important;
}

.mat-expansion-panel {
    background-color: #e0c894;
}

.mat-expansion-panel-header-title {
    font-weight: bold;;
}

.strikethrough {
    text-decoration: line-through;
}


/** GO FISH GAME **/
.card {
    width: 100px;
    /* height: 200px; */
    border: 1px solid black;
    justify-content: space-around;
}

.card:hover {
    position: relative;
    top: -10px;
}

#cardContainer {
    /* display: flex; */
    flex-wrap: nowrap;
    border: 3px solid gold;
    border-bottom: 0px;
}

#opponentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 25%;
    padding-right: 25%;
}

ul {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.center {
    /* display: block; */
    text-align: center;
}

.tracker {
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
    margin: 5px;
    border: 5px ridge black;
    /* justify-content: space-around; */
}

.bold {
    font-weight: bold;
}

