<h3>Welcome to Greater Guardians!</h3>
<p>
    <i>On the 22nd of September 2008, Jaski started GG! His goal to find the honest, skilled and best people he could
        find in FS. People to help him, to rely on and to shape the guild into the Guild people loved. A friendly,
        helpful
        and passionate place where help, advice, and lasting comrade could be found! We are proud to be GREATER
        GUARDIANS
        and in GG our home for all these reasons and more!</i>
</p>
<p>
    <i>
        This guild is built on <b>Peace, Respect, Loyalty, Trust, Commitment and Teamwork</b>.
        But not only that though!! Every achievement that we make, individual or as a team comes from the fact we
        support
        our own to support themselves too! The players that built their character through hard work and effort. Those
        that
        know that a little bit of the guild belongs to them, because in one way or another they made and laid a part
        that
        built GG and by their backs support our foundations!
    </i>
</p>
<p>
    <i>
        GG is led by Billybob, SoraXKairi, fishboy95, CroMaxim, Marvonen, Devilswolf, and BluePaint and the rest of our
        exceptional crew. We are sure that we will continue to rise. With the effort of the Guardians we know GG's star
        will rise to greater heights!
    </i>
</p>
<p><i>
        Our motto is '<b>To Be a Greater Guardian is to serve GG!</b>'
    </i></p>