<h3>Guild Leaders</h3>

<div class="two-col">
    <div class="card-block">
        <img src="assets/img/billybob.png">
        <div>
            <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=3580788" target="_blank">billybob</a> ~ <i>Not as old as dirt but close</i></h5>
            <p><i>
                Greater Guardians' leader
            </i></p>
        </div>
    </div>
    
    <div class="card-block">
        <img src="assets/img/sora.png">
        <div>
            <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=1655022" target="_blank">SoraXKairi</a> ~ <i>Guardian of Kingdom Hearts</i></h5>
            <p><i>
                Our keeper of keys and potions! If you see Sora online, and you are at full stamina, you will be buffed. Heavily.
                Much of the amazing potions in our guild store is made by Sora, so be sure to shower him with <span class="strikethrough">love</span> gold.
            </i></p>
        </div>
    </div>
    
    <div class="card-block">
        <img src="assets/img/fishboy.png">
        <div>
            <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=3010702" target="_blank"><span class="strikethrough">fishboy95</span>fishMAN95</a> ~ <i>Wear your mask and stay 6 feet apart</i></h5>
            <p><i>
                Greater Guardians' fighting fish, and one of the 7 players in the game to hold ruby smasher medal.
                All fishes are friends, this fish is no exception!
            </i></p>
        </div>
    </div>
    
    <div class="card-block">
        <img src="assets/img/max.png">
        <div>
            <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=3212329" target="_blank">CroMaxim</a> ~ <i>Fishy stop copying my rank names</i></h5>
            <p><i>
                Greater Guardians' lovable lazy sloth. He gets very lonely on weekends, so please spam his DM!
            </i></p>
        </div>
    </div>
    
    <div class="card-block">
        <img src="assets/img/marvonen.png">
        <div>
            <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=4474506" target="_blank">Marvonen</a> ~ <i>Marvonen and Guild Leader</i></h5>
            <p><i>
                this bio has been composted
            </i></p>
        </div>
    </div>

    <div class="card-block">
        <img src="assets/img/kelly.png">
        <div>
            <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=4262198" target="_blank">Kelly73</a> ~ <i>The Standing Few and Guild Leader</i></h5>
            <p><i>
                In search for one piece. Kelly will often help other guardians with buffs and gears when online. If he doesn't it means he's playing COD. 
            </i></p>
        </div>
    </div>
    
    <div class="card-block">
        <img src="assets/img/bluepaint.png">
        <div>
            <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=4660227" target="_blank">BluePaint</a> ~ <i>Guild Guardian And Fish Eater</i></h5>
            <p><i>
                Believes fishes are delicious and highly nutritious!
            </i></p>
        </div>
    </div>
    
    <div class="card-block">
        <img src="assets/img/devilswolf.png">
        <div>
            <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=3389675" target="_blank">Devilswolf</a> ~ <i>Nights Watch and Guild Leader</i></h5>
            <p><i>
                His watch has yet to end.
            </i></p>
        </div>
    </div>
</div>






