<h3>Guild Leaders</h3>

<div class="card-block">
    <img src="assets/img/billybob.png">
    <div>
        <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=3580788" target="_blank">billybob</a> ~ <i>Benevolent Overlord</i></h5>
        <p><i>
            Greater Guardians' leader
        </i></p>
    </div>

</div>

<div class="card-block">
    <img src="assets/img/sora.png">
    <div>
        <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=1655022" target="_blank">SoraXKairi</a> ~ <i>Guardian of Kingdom Hearts</i></h5>
        <p><i>
            Our keeper of keys and potions! If you see Sora online, and you are at full stamina, you will be buffed.
            Much of the amazing potions in our guild store is made by Sora, so be sure to shower him with gratitude!
        </i></p>
    </div>

</div>

<div class="card-block">
    <img src="assets/img/fishboy.png">
    <div>
        <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=3010702" target="_blank">fishboy95</a> ~ <i>Daddy Shark Doo Doo Doo Doo Doo</i></h5>
        <p><i>
            Greater Guardians' fighting fish, and one of the 7 players in the game to hold ruby smasher medal.
            All fishes are friends, this fish is no exception!
        </i></p>
    </div>

</div>

<div class="card-block">
    <img src="assets/img/max.png">
    <div>
        <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=3212329" target="_blank">CroMaxim</a> ~ <i>Baby Shark Doo Doo Doo Doo Doo</i></h5>
        <p><i>
            Greater Guardians' lovable lazy sloth. He gets very lonely on weekends, so please spam his DM!
        </i></p>
    </div>

</div>

<div class="card-block">
    <img src="assets/img/marvonen.png">
    <div>
        <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=4474506" target="_blank">Marvonen</a> ~ <i>Marvonen and Guild Leader</i></h5>
        <p><i>
            this bio has been composted
        </i></p>
    </div>

</div>

<div class="card-block">
    <img src="assets/img/devilswolf.png">
    <div>
        <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=3389675" target="_blank">Devilswolf</a> ~ <i>Nights Watch and Guild Leader</i></h5>
        <p><i>
            Description goes here
        </i></p>
    </div>

</div>

<div class="card-block">
    <img src="assets/img/bluepaint.png">
    <div>
        <h5><a href="https://www.fallensword.com/index.php?cmd=profile&player_id=4660227" target="_blank">BluePaint</a> ~ <i>Smells Like House Paint and Guild Leader</i></h5>
        <p><i>
            Description goes here
        </i></p>
    </div>
</div>





