<h3>Guild Rankings</h3>

<p><i>As you spend time with us and grow in levels, you will be given rankings within the guild. The more time and
        experience
        you contribute to the guild, the more priviliges will be given to you.
    </i></p>

<mat-vertical-stepper #stepper>
    <mat-step label="New Guardian of GG">
        <span><i>0 - 100,000 Experience</i></span>
        <p><i>New guardian that has recently joined our ranks. A new guardian may recruit other guardians, 
            store or take items from guild store, and see our guild advisor logs</i></p>
    </mat-step>
    <mat-step label="Virtous Knight">
        <span><i>100,000 - 200,000 Experience</i></span>
        <p><i>A guardian that has started to become familiar with our guild and its members. These guardians have the same
            priviliges as they did when they were newly recruited.
        </i></p>
    </mat-step>
    <mat-step label="Noble Paladin">
        <span><i>200,000 - 400,000 Experience</i></span>
        <p><i>A guardian that has started to climb our ranks and grow in experience. Noble Paladins enjoy the same priviliges as
            they the ranks before it, but can also recall tagged items from other guild members.
        </i></p>
    </mat-step>
    <mat-step label="Hero of Men">
        <span><i>400,000 - 800,000 Experience</i></span>
        <p><i>A true hero of men. A guardian recruit that has dedicated fair amount of time to the guild and to the game. Their priviliges remain the
            same as a Noble Paladin
        </i></p>
    </mat-step>
    <mat-step label="Leader of Men">
        <span><i>800,000 - 1,600,000 Experience</i></span>
        <p><i>A guardian recruit who has excelled to even greater heights, and are very close to becoming a ranked guardian. 
            They enjoy the same priviliges as Hero of Men
        </i></p>
    </mat-step>
    <mat-step label="Loyal Guardian">
        <span><i>1,600,000 - 2,500,000 Experience</i></span>
        <p><i>A guardian who has proven to be reliable and trustworthy. They hold the same priviliges as Leader of Men. Additionally, Loyal guardians
            may also initiate guild conflicts with other guilds.
        </i></p>
    </mat-step>
    <mat-step label="Guardian Elite">
        <span><i>2,500,000 - 4,000,000 Experience</i></span>
        <p><i>An elite guardian who has trancended the rank of Loyal Guardian. Their rank priviliges remain the same as loyal guardians.
        </i></p>
    </mat-step>
    <mat-step label="Supreme Guardian">
        <span><i>4,000,000 - 6,500,000 Experience</i></span>
        <p><i>A guardian who has spent considerable time in the guild and have brought the guild to even greater heights.
        </i></p>
    </mat-step>
    <mat-step label="Guardian Immortal">
        <span><i>6,500,000 - 10,000,000 Experience</i></span>
        <p><i>A guardian who has forever etched their name in the guild. These guardians will forever remain within the ranks of GG. Guardian Immortals
            hold the same priviliges as Supreme Guardian, but they can also send mass messages to guild members.
        </i></p>
    </mat-step>
    <mat-step label="Guardian of the Gates">
        <span><i>10,000,000 - 15,000,000 Experience</i></span>
        <p><i>A guardian who has trancended the rank of Guardian Immortal. They are very close to reaching the highest ranks amongst the guardians.
        </i></p>
    </mat-step>
    <mat-step label="Guardian of the Realm">
        <span><i>15,000,000+</i></span>
        <p><i>A guardian who has risen to the pinnacle of ranks amongst the guild. These guardians may request for custom rankings.
        </i></p>
    </mat-step>
</mat-vertical-stepper>